@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --main-color:#d71ddd;
}
*{
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: all .2s linear;
   line-height: 1.5;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: #eeeeee;
    padding-left: 30rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #212121;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
}

header .logo{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bolder;    
}

header .logo span{
    text-transform: uppercase;
    color: var(--main-color);
}

header .navbar a{
display: block;
font-size: 2rem;
color: #ffffff;
margin: 2rem 0;
}
header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}

